
.receiptsList{
  display: flex;
  flex-direction: column-reverse;
}

.fecha{
  margin-left: 170px;
}

.factura{
  background-color: rgb(216, 216, 216);
  cursor: pointer;
  width: 300px;
  padding: 10px;
  margin: 10px;
}

.factura:hover{
  background-color: rgb(203, 225, 255);
}

@media print {
  .no-print {
    display: none !important;
  }
}

